.projects {
  display: flex;
  flex-direction: row;
  height: 553px;
  width: 1360px;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}

.projects > :first-child {
  align-self: flex-end;
}