.landing {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 850px;
  padding: 10rem 4rem;
  gap: 4rem;
}

.tagline {
  width: 1300px;
  font-size: 100px;
  font-weight: 600;
}

.mission {
  width: 1000px;
  font-size: 32px;
  font-weight: 400;
}

.landing > .button {
  width: 550px;
  height: 60px;
  border-radius: 40px;
}