.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 600px;
}

.service > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.title {
    display: flex;
    font-size: 50px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    font-size: 32px;
    font-weight: 400;
}