.about {
    display: flex;
    flex-direction: column;
    width: 1080px;
    margin-top: 6rem;
    gap: 6rem;
}

.motivation {
    font-size: 72px;
    font-weight: 600;
}

.about > .button {
    width: 600px;
    height: 60px;
    border-radius: 40px;
  }